@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  color: #f3f4f6;
  font-family: Inter, "PingFang SC", "Microsoft YaHei", system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}
